<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Főoldal</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="container-fluid">
        <div class="alert alert-success" role="alert">
            Üdvözöljük

        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Greeting</th>
                <td><span th:text="${greeting}"></span></td>
            </tr>
            <tr>
                <th scope="row">Host</th>
                <td><span th:text="${host}"></span></td>
            </tr>
            <tr>
                <th scope="row">defaultRecipients[0]</th>
                <td><span th:text="${defaultRecipients}"></span></td>
            </tr>
            <tr>
                <th scope="row">additionalHeaders</th>
                <td><span th:text="${additionalHeaders}"></span></td>
            </tr>
            <tr>
                <th scope="row">credentials</th>
                <td><span th:text="${credentials}"></span></td>
            </tr>
            <tr>
                <th scope="row">externalitem</th>
                <td><span th:text="${externalitem}"></span></td>
            </tr>
            <tr>
                <th scope="row">propertyConversion</th>
                <td><span th:text="${propertyConversion}"></span></td>
            </tr>
            <tr>
                <th scope="row">datasize</th>
                <td><span th:text="${datasize}"></span></td>
            </tr>
            <tr>
                <th scope="row">employee</th>
                <td><span th:text="${employee}"></span></td>
            </tr>
            <tr>
                <th scope="row">immutableCredentials</th>
                <td><span th:text="${immutableCredentials}"></span></td>
            </tr>
            <tr>
                <th scope="row">version</th>
                <td><span th:text="${version}"></span></td>
            </tr>
            <tr>
                <th scope="row">foo.name</th>
                <td><span th:text="${fooname}"></span></td>
            </tr>
            <tr>
                <th scope="row">bar.name</th>
                <td><span th:text="${barname}"></span></td>
            </tr>

            <tr>
                <th scope="row">bar.default</th>
                <td><span th:text="${bardefault}"></span></td>
            </tr>

            <tr>
                <th scope="row">random</th>
                <td><span th:text="${random}"></span></td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
</body>
</html>